[name_full]
llm = {name_full}

[model]
SUGGEST_SYSTEM_PROMPT = {SUGGEST_SYSTEM_PROMPT}
llm = {host}
embedding = {host}

# 進出 function 的時候印出來，方便 debug
[DEBUGGER]
DEBUGGER = False
; DEBUGGER = True

JUPYTER = False
; JUPYTER = True
